.img-1 {
  background-image: url("../../images/imagesid/image-id4.jpeg");
}
.img-2 {
  background-image: url("../../images/imagesid/image-id5.jpeg");
  background-position: center;
}
.img-3 {
  background-image: url("../../images/imagesid/image-id6.jpeg");
}
.img-11 {
  background-image: url(../../images/imagesid/image-id18.jpeg);
}
